<h2 ng-init="$root.currentTitle = 'Dez motivos para contratar nosso time'">Excelente escolha! Um site novo!</h2>
<img src="images/post-site.jpg" alt="">
<p>Vamos fazer do seu site a principal ferramenta de conversão de clientes, pois um belo site não é aquele que é apenas bonito, mas o que desempenha perfeitamente sua função. Se os visitantes não conseguem encontrar suas informações com clareza e facilidade, você está perdendo dinheiro.</p>
<h1>10 motivos para contratar nosso time:</h1>
<p>Baseado no texto original <a target="_blank" href="http://thenextweb.com/entrepreneur/2015/03/05/11-problems-anticipate-next-website-redesign/">11 problems to anticipate before your next website resign</a>, do TNW</p>
<ol>
	<li>
		<strong>Atraímos o usuário pelo conteúdo</strong><br>
		Um de nossos compromissos é te ajudar a repensar a forma de apresentar sua empresa\produto. Isso significa descrever com clareza, organizar seus produtos serviços e disponibilizá-los de forma simples.
	</li>
	<li>
		<strong>Monitoramos as taxas de aceitação dos usuários</strong><br>
		Um novo site precisa estar atualizado com as últimas tendências de design e tecnologia. Mas além disso, nos preocupamos com o desempenho de cada página através de análises e ferramentas de testes AB. E tudo é construído para que você sempre seja relevante pras buscas do Google.
	</li>
	<li>
		<strong>Te deixamos livres para o futuro</strong><br>
		Tudo que fazemos é pensado para o futuro. Trabalhamos com o que há de mais moderno na implementação da web na atualidade de acordo com padrões mundiais de design e código. No futuro, você vai poder escolher o fornecedor que desejar sem amarras. Ou voltar até nós simplesmente porque gostou. :)
	</li>
	<li>
		<strong>Você gerencia o conteúdo (CMS)</strong><br>
		Falando em liberdade, todos os nossos sites são tais como o Facebook. Você recebe um login e uma senha e tem toda a liberdade de trocar textos, fotos e menus. Simples, fácil e sem dor de cabeça. Ainda preparamos um manual e treinamos sua equipe, se necessário.
	</li>
	<li>
		<strong>Traçamos metas juntos</strong><br>
		Vamos entender a verdadeira razão para fazer seu novo site. O objetivo que quer alcançar quando os usuários o visitarem. Vendas diretas? Vendas indiretas? Apenas um primeiro contato com a empresa? Gerar tráfego? 
	</li>
	<li>
		<strong>Colocamos o usuário no centro do nosso trabalho</strong><br>
		Você precisa pensar em como seus potenciais clientes irão interagir com o site. Se o objetivo é facilitar para que as pessoas comprem seu produto ou serviço, é essencial que o design seja feito com o cliente em mente. 
	</li>
	<li>
		<strong>Organizamos sua equipe e seus objetivos</strong><br>
		Pode parecer estranho, mas nos últimos 10 anos, pudemos perceber a importância de ajudar nossos clientes a se organizar internamente. Isso significa alinhar os pensamentos de toda a sua equipe para que todos possam conduzir o projeto com o mesmo objetivo. Nosso plano é fazer cada membro desempenhar seu melhor, contribuindo para o resultado do nosso trabalho.
	</li>
	<li>
		<strong>Design responsivo</strong><br>
		Não adiantaria pensar no melhor conteúdo, no melhor design, no melhor texto, unir tudo isso num projeto organizado e impecável se nada fosse disponibilizado para 100% dos usuários em qualquer momento. É por isso que nosso desenvolvimento inclui qualquer tipo e tamanho de tela, para você estar em todos os lugares. 
	</li>
	<li>
		<strong>Não cobramos caro por isso</strong><br>
		Como somos um pequeno time de designers e desenvolvedores de nível sênior, apresentamos um excelente custo benefício que dificilmente será encontrado no mercado. Além disso, tudo que fazemos é com extrema transparência, mesmo que você não entenda muito do assunto.
	</li>
	<li>
		<strong>Nos preocupamos com o prazo</strong><br>
		Muitos fatores influenciam na estimativa de entrega de um projeto de tecnologia. Quando se trata de um site, o trabalho é feito a 4 mãos, de forma que o resultado é fruto de uma operação em conjunto. Isto significa contar com a sua disponibilidade e da sua equipe, aprovações, reprovações, solicitações, envio de conteúdo, entrevista com usuários… Mas sem problemas: Até o cronograma é desenhado junto com você.
	</li>
</ol>
<p>Estou ansioso para começar o trabalho. Me mande uma mensagem, vou ter o maior prazer em te atender. Rafael Tavares, líder de Design da Usabit.</p>