<h2 ng-init="$root.currentTitle = 'Um suporte no desenvolvimento de htmls'">Um suporte no desenvolvimento de htmls</h2>
<img src="images/post-site.jpg" alt="">
<p>Sua equipe de desenvolvimento esta preparada para transformar aquele lindo layout em PSD aprovado pelo cliente em código html? Provavelmente sua resposta será <b>não</b>. No fim, seu cliente fica desapontando com o resultado final que é bem diferente do aprovado por ele no inicio do projeto.</p>
<p>Não somos aqueles serviços empacotados de “PSD to HTML” que cobram muito pouco e prometem o código em 1 ou 2 dias e imagino que não é isso que você procura com a gente. Estamos aqui para entregar a seus desenvolvedores o melhor código front-end do mercado e com isso eles também aprenderão sobre as melhores práticas.</p>
<p>Nós analisamos o PSD no inicio do projeto, orientamos o seu designer com as melhores práticas e só depois disso iniciamos o desenvolvimento do front. Após a conclusão do desenvolvimento orientamos seu time de back na implementação.</p>
<p><strong>Entregamos um código responsivo, comentado, testado e acima de tudo simples.</strong></p>
<p>Trabalhamos com as últimas tecnologias do mercado para facilitar o desenvolvimento e a manutenção:</p>
<ol>
	<li>Tarefas Automatizadas com Grunt ou Gulp;</li>
	<li>Pré-processadores de estilo: Sass ou Less;</li>
	<li>Javascript, jQuery e/ou AngularJs.</li>
</ol>
<p><strong>Quando começamos? Conte comigo, me chamo Rodrigo e sou o líder de desenvolvimento front-end da Usabit. Aguardo seu contato para entregarmos aos seus clientes a melhor experiência no seu projeto.</strong></p>