<h2>Um suporte no design do meu projeto</h2>
<img src="images/post-site.jpg" alt="">
<p>Desenvolver um software é uma engenharia complexa que envolve diferentes níveis de conhecimento e disciplinas. Além de prezar pela qualidade do código simples, eficiente, aprovado, coberto por testes e inúmeras outras questões, o product owner ainda precisa (ou deveria) preocupar-se com outro investimento, não menos importante: a interface do software com o usuário.</p>
<p>Foi de olho desses casos que nos unimos para montar a Usabit e levar até equipes de desenvolvimento o conhecimento de Design e UX (ou user experience). Neste ponto, queremos atuar como facilitadores da tecnologia e, para isso, utilizamos nossa experiência de mais de 10 anos.</p>
<p><strong>Nossos designers atuam em contato com seu time, analisando fatores de necessidade do usuário, requisitos do software e perfil técnico da equipe, para propor a solução de tela adequada em todos os aspectos.</strong></p>
<p>Verdade:</p>
<ol>
	<li>Investir em Design valoriza o projeto;</li>
	<li>Prototipar reduz erros e evita o retrabalho;</li>
	<li>Além de mais acertividade, um especialista economiza a produção por entender seus problemas de código e implementação;</li>
	<li>Temos experiência com telas, usuários, interações;</li>
	<li>Você não precisa aumentar seu staff mantendo profissionais que não o core do seu negócio.</li>
	<li>Você se foca no que realmente importa pra você.</li>
</ol>
<p><strong>Vamos tomar um café? Quero te apresentar isso com mais detalhes. Sou Rafael, líder de design e novos negócios aqui na Usabit. Vamos conversar!</strong></p>