<h2>Uma consultoria de desenvolvimento de software</h2>
<img src="images/post-site.jpg" alt="">
<p>Segundo a CHAOS Manifesto, apenas 14% dos projetos de desenvolvimento de software utilizando a metodologia tradicional de desenvolvimento (waterfall) são bem sucedidos. De fato, não é difícil nos depararmos com a fatia dos projetos que falham. Vemos muitos casos de prazos e orçamentos estourados, além dos resultados não correspondendo com às expectativas dos clientes.</p>
<p>São alguns dos princípios do desenvolvimento ágil:</p>
<ul>
	<li>
		Garantir a satisfação do consumidor entregando rapidamente e continuamente softwares funcionais;
	</li>
	<li>
		Indivíduos e interações mais do que processos e ferramentas;
	</li>
	<li>
		Além de colaboração com clientes mais do que negociação de contratos.
	</li>
</ul>
<p>O ponto fundamental da agilidade no desenvolvimento de software é a cooperação, nenhuma ferramenta ou técnica será bem sucedida sem a cooperação de cada indivíduo. O objetivo principal da nossa consultoria é levar esse espírito de cooperação para os times de nossos clientes, junto com metodologias que facilitem o processo de desenvolvimento de software.</p>
<p>Mas como fazer para quebrar a resistência à mudança?</p>
<p>Fazemos um piloto com um time pequeno, o treinamos com as práticas de agilidade e com isso damos oportunidade da equipe comprar a idéia, se comprometer e fazer parte da mudança.</p>
<p><strong>Está pronto para começar? Conte comigo, meu nome é Paulo, sou líder de desenvolvimento de software da Usabit e aguardo seu contato, de segunda à sábado!</strong></p>