<ng-include src="'views/header.tpl.html'"></ng-include>

<div class="view-content">
    <div class="row-banner row-banner-cases">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Apresentamos um pouco do que fizemos<br> nos últimos 10 anos.</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row-case-list">
      <div class="container-fluid">
          <div class="row row-cases row-cases-tavares">
              <div class="col-xs-12">
                <h2>Nossos cases</h2>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="project in rafaBehance.projects">
                <div class="panel">
                  <div class="panel-body">
                    <a target="_blank" href="{{project.url}}">
                      <img ng-src="{{project.covers['230']}}" />
                      <h5>{{project.name}}</h5>
                      <h6>por {{project.owners[0].display_name}}</h6>
                      <p class="tags"><span href="#" ng-repeat="tag in project.fields"><span class="virgula">,</span> {{tag}}</span>
                      </p>
                      <div class="project-stats">
                        <span ng-if="project.stats.appreciations" class="project-stat project-appreciations"><i class="fa fa-thumbs-up"></i> {{project.stats.appreciations}}</span>
                        <span ng-if="project.stats.views" class="project-stat project-views"><i class="fa fa-eye"></i> {{project.stats.views}}</span>
                        <span ng-if="project.stats.comments" class="project-stat project-comments"><i class="fa fa-comment"></i> {{project.stats.comments}}</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="project in rodrigoBehance.projects">
                <div class="panel">
                  <div class="panel-body">
                    <a target="_blank" href="{{project.url}}">
                      <img ng-src="{{project.covers['230']}}" />
                      <h5>{{project.name}}</h5>
                      <h6>por {{project.owners[0].display_name}}</h6>
                      <p class="tags"><span href="#" ng-repeat="tag in project.fields"><span class="virgula">,</span> {{tag}}</span>
                      </p>
                      <div class="project-stats">
                        <span ng-if="project.stats.appreciations" class="project-stat project-appreciations"><i class="fa fa-thumbs-up"></i> {{project.stats.appreciations}}</span>
                        <span ng-if="project.stats.views" class="project-stat project-views"><i class="fa fa-eye"></i> {{project.stats.views}}</span>
                        <span ng-if="project.stats.comments" class="project-stat project-comments"><i class="fa fa-comment"></i> {{project.stats.comments}}</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
          </div>

      </div>
    </div>
    <div class="row-cafe">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <h3>Vamos nos conhecer mais de perto? <br>Vem tomar um café com a gente!</h3>
          </div>
          <div class="col-xs-12 col-sm-6">
              <ul>
                  <li><a class="row-ideas-skype" href="skype:pdrigo?call"><i class="fa fa-skype"></i></a></li>
                  
                  <li class="visible-xs-inline-block"><a class="row-ideas-mobile" href="tel:21984626843"><i class="fa fa-mobile"></i></a></li>
                  <li class="hidden-xs"><a class="row-ideas-mobile" href="#/contato"><i class="fa fa-mobile"></i></a></li>

                  <!--<li><a class="row-ideas-whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>-->
                  <!--<li><a class="row-ideas-phone" href="#"><i class="fa fa-phone"></i></a></li>-->
                  <li><a class="row-ideas-envelope" href="#/contato"><i class="fa fa-envelope"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
</div>
