<ng-include src="'views/header.tpl.html'"></ng-include>

<div class="view-content">
    <div class="row-banner row-banner-contato">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Vem tomar um café com a gente?</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-contact-list">
            <div class="col-md-3">
                <h2>Suporte para empresas de TI</h2>
                <p><a href="mailto:paulo@usabit.com.br">paulo@usabit.com.br</a>
                    <br> (21) 9 8187.7451</p>
            </div>
            <div class="col-md-3">
                <h2>Sites, aplicativos, softwares</h2>
                <p><a href="mailto:rodrigo@usabit.com.br">rodrigo@usabit.com.br</a>
                    <br> (21) 9 8899.4327</p>
            </div>
            <div class="col-md-3">
                <h2>Design de Produto e Marketing</h2>
                <p><a href="mailto:rafael@usabit.com.br">rafael@usabit.com.br</a>
                    <br> (21) 9 8462.6843</p>
            </div>
            <div class="col-md-3">
                <h2>Nenhuma das anteriores?</h2>
                <p><a href="mailto:rafael@usabit.com.br">rafael@usabit.com.br</a>
                    <br> (21) 9 8462.6843</p>
            </div>
        </div>
    </div>
    <div class="row-cafe">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <h3>Ou seja ainda mais rápido <br>através dos ícones ao lado.</h3>
          </div>
          <div class="col-xs-12 col-sm-6">
              <ul>
                  <li><a class="row-ideas-skype" href="skype:pdrigo?call"><i class="fa fa-skype"></i></a></li>
                  
                  <li class="visible-xs-inline-block"><a class="row-ideas-mobile" href="tel:21984626843"><i class="fa fa-mobile"></i></a></li>
                  <li class="hidden-xs"><a class="row-ideas-mobile" href="#/contato"><i class="fa fa-mobile"></i></a></li>

                  <!--<li><a class="row-ideas-whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>-->
                  <!--<li><a class="row-ideas-phone" href="#"><i class="fa fa-phone"></i></a></li>-->
                  <li><a class="row-ideas-envelope" href="mailto:contato@usabit.com.br"><i class="fa fa-envelope"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
</div>
