<div class="header navbar navbar-default">
    <!--<div ng-if="currentController !== 'PostCtrl'" class="usabit_inauguration hidden-xs">
        <div class="inauguration-content">
            <div class="container-fluid">
                <div class="col-sm-6">
                    <h2>Chegamos para te ajudar a entregar seus projetos de software.</h2>
                    <p>Descubra como melhorar a qualidade dos seus projetos com o auxílio de especialistas de software. Experimente a tecnologia a favor do seu negócio e ganhe em performance de produção e vendas. Faça novas coisas através de Apps, sites e sistemas que, juntos, podem mudar o dia a dia da sua empresa.</p>
                    <p>De forma simples - e muito mais simples do que parece, ajudamos empresas a entregar softwares com excelência, através de gestão ágil, design impecável e processos de teste que garantem o sucesso do seu produto.</p>
                    <p><a class="btn btn-defaut" href="#/team">Conheça nosso time</a></p>
                </div>
                <div class="col-sm-6 inauguration-services">
                    <div class="row">
                        <div class="col-xs-12"><h3>O que já estamos fazendo?</h3></div>
                        <div class="col-xs-12 col-md-6 inaugu-2lines">
                            <img src="images/inaugu-01.jpg" alt="" class="pull-left">
                            <p>Softwares com qualidade, velocidade e design</p>
                        </div>
                        <div class="col-xs-12 col-md-6 inaugu-2lines">
                            <img src="images/inaugu-02.jpg" alt="" class="pull-left">
                            <p>Apps e sites para dispositivos móveis</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><h3>Vem por aí...</h3></div>
                        <div class="col-xs-12 col-md-6 inaugu-3lines">
                            <img src="images/inaugu-03.jpg" alt="" class="pull-left">
                            <p>Treinamentos para aprimorar o desempenho de equipes</p>
                        </div>
                        <div class="col-xs-12 col-md-6 inaugu-1line">
                            <img src="images/inaugu-04.jpg" alt="" class="pull-left">
                            <p>Social Game Design</p>
                        </div>
                    </div>
                </div>
                <a class="inauguration-close" ng-click="inaugurationControl(false)" href=""><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="inauguration-bar">
            <div class="container-fluid">
                <div class="col-xs-12">
                    <p>Inauguramos! 21 de abril de 2015
                        <a class="btn btn-default" ng-if="!inaugurationOpened" ng-click="inaugurationControl(true)" href="">Leia mais</a>
                        <a class="btn btn-default" ng-if="inaugurationOpened" ng-click="inaugurationControl(false)" href="">Fechar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <a class="btn btn-link" href="tel:552141012259"><i class="fa fa-lg fa-phone-square"></i> +55 21 4101-2259</a>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="btn btn-link" href="{{path}}/blog" ng-bind-html="'HEADER.MENU_BLOG'|translate"></a>
                    <!--<a class="btn btn-link btn-language" href="" ng-click="toggleLang()" ng-bind-html="'HEADER.CHANGE_LANG_TO'|translate"></a>-->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">            
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
          <button type="button" data-toggle="collapse" data-target="#mainMenu" class="navbar-toggle c-hamburger c-hamburger--htx" ng-mousedown="mobileMenuActive = !mobileMenuActive" ng-class="{'is-active': mobileMenuActive}">
            <span>Menu</span>
          </button>
          <a class="navbar-brand" href="{{path}}/"><img src="images/marca-usabit-projetos-digitais.png" alt="Usabit - Projetos Digitais"></a>
        </div>

        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="nav navbar-nav navbar-main-menu">
                <li class="hidden-sm hidden-md hidden-lg" ng-class="{active:isActive('')}"><a ng-href="{{path}}/" ng-bind-html="'HEADER.MENU_HOME'|translate"></a></li>
                <li ng-class="{active:isActive('team')}"><a ng-href="{{path}}/team" ng-bind-html="'HEADER.MENU_TEAM'|translate"></a></li>
                <li ng-class="{active:isActive('nosso-jeito')}"><a ng-href="{{path}}/nosso-jeito" ng-bind-html="'HEADER.MENU_WAY'|translate"></a></li>
                <!--<li><a ng-href="#/cases">cases</a></li>-->
                <li ng-class="{active:isActive('contato')}"><a ng-href="{{path}}/contato" ng-bind-html="'HEADER.MENU_CONTACT'|translate"></a></li>
                <!--<li ng-class="{active:isActive('blog')}"><a href="{{path}}/blog">blog</a></li>-->
            </ul>
            <div class="nav navbar-nav navbar-right nav-social-list">
                <ul>
                    <li><a target="_blank" class="social-fb" href="https://www.facebook.com/usabitdigital"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" class="social-tw" href="https://twitter.com/usabitdigital"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" class="social-lk" href="https://www.linkedin.com/company/2600370"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" class="social-bh" href="https://github.com/usabit"><i class="fa fa-github"></i></a></li>
                    <li><a target="_blank" class="social-it" href="http://www.instagram.com/usabit_"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>