<div class="view-content view-content-post">
	<div class="row-banner row-banner-post">
    </div>
    <div class="container-fluid">
      <div class="row">
      	<div class="col-xs-12 col-sm-8 col-md-7 post-content" ng-include="postContent">
      	</div>
        <div class="col-xs-12 col-sm-4 col-md-offset-1 post-column pull-right">
        	<form name="contactForm" class="clearfix" ng-submit="sendMail()">
        		<h4>Peça um orçamento e veja como tudo aqui é muito simples.</h4>

        		<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>

        		<div class="form-group">
					<label class="sr-only" for="nome">Nome</label>
					<input type="text" ng-model="formMail.Nome" class="form-control" id="nome" placeholder="Qual seu nome?">
				</div>
				<div class="form-group">
					<label class="sr-only" for="email">Email</label>
					<input type="email" ng-model="formMail.Email" class="form-control" id="email" placeholder="Seu e-mail">
				</div>
				<div class="form-group">
					<label class="sr-only" for="msg">Descreva seu produto</label>
					<textarea ng-model="formMail.Mensagem" class="form-control" id="msg" rows="6" placeholder="Descreva rapidamente seu produto"></textarea>
				</div>
				<input type="submit" class="btn btn-primary pull-right" value="Enviar">
        	</form>
        </div>
      </div>
    </div>
</div>
