<div class="view-content">
    <div class="row-banner row-banner-team">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Somos design + tecnologia para criar produtos digitais simples e fáceis de usar.</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-about" ng-class="{'row-about-expanded': aboutCollapse == false}">
            <div class="col-md-9">
                <p>Acumulamos 10 anos de experiência no desenvolvimento de projetos digitais. Neste período, contribuímos para o nascimento de sites, aplicativos, softwares e diversos outros materiais capazes de transformar, cattivar e conquistar usuários.</p>
                <p>Somos uma equipe dinâmica que desenvolve de forma ágil, sem invenções ou burocracias. Nosso método é formado, basicamente, de profissionais experientes, excelente entendimento de escopo, prototipagem rápida, validações, design colaborativo e testes de melhoria contínua, além do próprio entrosamento que alcançamos.</p>
                <p>Estamos aqui principalmente para quebrar paradigmas. Estamos mudando a forma como se entrega serviços digitais, atuando lado a lado com o cliente, desempenhando papel de mais que fornecedores: parceiros de confiança.</p>
            </div>
            <a ng-show="aboutCollapse" ng-click="aboutCollapse = false" class="about-all" href="">Exibir o texto todo</a>
        </div>
        <div class="row row-team">
            <div class="col-xs-12 col-sm-4 team-card">
              <div class="hvr-float-shadow">
                <div class="img-wrapper">
                  <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/10846215_888431384522033_7221552525010793336_n.jpg?oh=24d0ff96915b40e7cc268484b30aab8b&oe=55B96D6D&__gda__=1438076166_4d9ac471943b017461b5e57c488b42a9" class="img-circle" alt="Rafael Tavares">
                  <ul class="team-midias-list">
                    <li><a target="_blank" href="https://www.linkedin.com/profile/view?id=143980787"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a target="_blank" href="https://www.behance.net/rafatavares"><i class="fa fa-behance-square"></i></a></li>
                  </ul>
                </div>
                <h2>Rafael Tavares</h2>
                <p>co-founder</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 team-card">
              <div class="hvr-float-shadow">
                <div class="img-wrapper">
                  <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/c0.0.160.160/p160x160/10636310_829770657046037_2141377050940206214_n.jpg?oh=781a2d4d0e46044b6a9f8912d8c3b997&oe=55A789C8&__gda__=1437391243_bb618d696b202ad9b5e4b35d19a0b3db" class="img-circle" alt="Rodrigo Lemos">
                  <ul class="team-midias-list">
                    <li><a target="_blank" href="https://www.linkedin.com/profile/view?id=83562953"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a target="_blank" href="https://www.behance.net/rolemos"><i class="fa fa-behance-square"></i></a></li>
                    <li><a target="_blank" href="https://github.com/rolemos"><i class="fa fa-github-square"></i></a></li>
                  </ul>
                </div>
                <h2>Rodrigo Lemos</h2>
                <p>co-founder</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 team-card">
              <div class="hvr-float-shadow">
                <div class="img-wrapper">
                  <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p160x160/1044283_775637662487013_6786648082561900099_n.jpg?oh=9c9cafeec11e8cd6641561056578256e&oe=55A9B413&__gda__=1433885906_ba22744d8d824f4e727ab1998cffdede" class="img-circle" alt="Paulo Rocha">
                  <ul class="team-midias-list">
                    <li><a target="_blank" href="https://www.linkedin.com/profile/view?id=158690290"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a target="_blank" href="https://github.com/paulochrocha"><i class="fa fa-github-square"></i></a></li>
                  </ul>
                </div>
                <h2>Paulo Rocha</h2>
                <p>co-founder</p>
              </div>
            </div>
        </div>
    </div>
    <div class="row-cafe">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <h3>Vamos nos conhecer mais de perto? <br>Vem tomar um café com a gente!</h3>
          </div>
          <div class="col-xs-12 col-sm-6">
              <ul>
                  <li><a class="row-ideas-skype" href="skype:pdrigo?call"><i class="fa fa-skype"></i></a></li>
                  
                  <li class="visible-xs-inline-block"><a class="row-ideas-mobile" href="tel:21984626843"><i class="fa fa-mobile"></i></a></li>
                  <li class="hidden-xs"><a class="row-ideas-mobile" href="#/contato"><i class="fa fa-mobile"></i></a></li>

                  <!--<li><a class="row-ideas-whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>-->
                  <!--<li><a class="row-ideas-phone" href="#"><i class="fa fa-phone"></i></a></li>-->
                  <li><a class="row-ideas-envelope" href="#/contato"><i class="fa fa-envelope"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
</div>
