<div class="view-content">
	<div class="row-banner row-banner-contato">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Vem tomar um café com a gente?</h1>
                </div>
            </div>
        </div>
    </div>
  <div class="container-fluid">
    <form class="row row-form">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputEmail1">Nome</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Assunto</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Um projeto novo de um {{assunto}}">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputEmail1">Mensagem</label>
				<textarea type="email" class="form-control" id="exampleInputEmail1" rows="6" placeholder="">
				</textarea>
			</div>
		
			<button type="submit" class="btn btn-primary pull-right">Submit</button>
		</div>
    </form>
  </div>
</div>