section.banner
  min-height 100vh
  display flex
  align-items center
  position relative
    
  .banner-wrap
    width 880px
    display flex
    justify-content space-around
    margin 50px auto
    +above(1350px)
      width 1000px
    +below(910px)
      justify-content space-around
      
.text-wrap
  width 564px
  color white
  line-height 1.5
  display flex
  justify-content center
  flex-direction column
  font-size 18px
  
  +below(910px)
    width 80%
  
  .usabit
    padding-bottom 30px
    margin-bottom 25px
    border-bottom 5px solid white
    align-self stretch

    #usabit-logo
      width 100px
      path
        fill white
    
  .sub-tittle
    font-weight 700
    font-size 30px
    margin-bottom 30px
  
  .call-to-action-list
    margin-top 55px
    
  .call-to-action-item
    float left
    margin-right 10px
    margin-bottom 10px
    font-weight 300
    
    &:last-child
      margin-right 0
    
    a
      text-decoration none
      background-color #252525
      color white
      width 180px
      padding 10px 0
      text-align center
      display inline-block
      border-radius 3px
      transition all .1s
      &:hover
        background-color #252525 + 10%
        
      &:first-letter
        text-transform capitalize
      
      i
        margin-right 7px
        font-size 22px
      
    &.contato
      a
        background-color #0069a6
        &:hover
          background-color #0069a6 + 10%
.scroll-down
  position absolute
  left 50%
  transform translateX(-50%)
  bottom 0
  height 100px
  animation pulse 1.5s infinite
  +below(910px)
    display none

#icon
  width 60px
  animation pulse 1.5s infinite
  
@keyframes pulse
  0%
    opacity .7
    bottom 0
  50%
    opacity 1
    bottom 10px
  100%
    opacity .7
    bottom 0

section.cases-banner
  background #4d78f8
  text-align center
  overflow hidden
  h1.usabit
    margin 60px 0
    #usabit-logo
      width 100px
      path
        fill white
        
  h2
    margin 110px auto
    font-size 40px
    font-weight 600
    width 750px
    +below(1200px)
      width 100%
      max-width 550px
    +below(600px)
      font-size 32px
      padding 10px

  h3
    margin 110px 0
    font-size 20px
