section.contato
  padding 30px 0
  text-align center
  background-color #252525 + 20%
  
  &.dark
    background-color #252525

  .wrap
    padding 0 20px
    width 100%
    max-width 540px
    margin 0 auto