.usabit-news
  padding 40px 0
  
  > .global-wrap
    text-align center  
  
  > .header
    display flex
    flex-direction column
    align-items center
    margin-bottom 70px
    +below(910px)
      max-width 90%
      margin 0 auto
      overflow hidden
    img
      margin-bottom 30px
      
      &.usabit-news-tittle-img
        +below(910px)
          width 163px
          height 25px

      
  [class$="-column"], [class*="-column "]
    // column(1/4, gutter: 0)
    column(1/3, gutter: 0)
    background-color #515151
    
    &:nth-child(odd)
      background-color #3b3b3b

    +below(1200px)
      column(1, gutter: 0)
      
      // &:nth-child(1), &:nth-child(4)
      //   background-color #3b3b3b
      // &:nth-child(2), &:nth-child(3)
      //   background-color #515151

    > .header
      padding 20px
      i
        font-size 30px
        color white
        font-weight 200
        font-style italic
        font-family Titillium Web, sans serif
        
        &:before
          font-family FontAwesome
          color black
          font-size 1.5em
          font-style normal
          margin-right 10px
