$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "compass/css3";
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";

// ================================================================================================
// GENERAL
// ================================================================================================
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Lato', sans-serif;  
}

.container-fluid {
  max-width: 1310px;
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include transition-property(transform);
  @include transition-duration(0.3s);
}
.hvr-float-shadow:hover, 
.hvr-float-shadow:focus, 
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
[class^="hvr-"] {
  /* display: inline-block; */
  /* vertical-align: middle; */
  margin: .4em;
  padding: 1em;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  @include transition-property(all);
  @include transition-duration(0.3s);
}
.hvr-float-shadow:hover:before, 
.hvr-float-shadow:focus:before, 
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

// ================================================================================================
// LAYOUT
// ================================================================================================

// INAUGURATION
.usabit_inauguration {
  background: #fff;

  .inauguration-content {
    display: none;
    @include transition-property(all);
    @include transition-duration(300ms);
    @include transition-timing-function(ease-in-out);

    .container-fluid {
      position: relative;
      background: url(../images/bg-inauguration.jpg) no-repeat bottom right;
    }

    h2 {
      font-size: 2.5em;
      color: #ff4444;
      font-weight: 400;
      margin: 35px 0 20px;

      @media (max-width: 767px) {
        font-size: 1.6em;
      }
    }
    p {
      color: #313131;
      font-weight: 300;
      font-size: 1.14em;

      @media (max-width: 767px) {
        font-size: 1em;
      }
    }
    .btn {
      color: #fff;
      background: #828282;
      margin: 15px 0;
      border-radius: 0;

      &:hover,
      &:active {
        background-color: rgba(#828282, 0.8);
      }
    }
    h3 {
      font-size: 1.14em;
      color: #ff4444;
      font-weight: 400;
      margin: 30px 0;

      @media (max-width: 767px) {
        margin: 30px 0 15px;
      }
    }
    .inauguration-services {
      color: #313131;
      font-size: 1em;
      margin-top: 18px;

      @media (max-width: 767px) {
        margin-top: -15px;
        margin-bottom: 15px;
      }

      img {
        margin-right: 15px;
      }
      p {
        color: #313131;
        font-size: 1em;
      }

      .inaugu-1line {
        p {
          margin-top: 28px;
        }
      }
      .inaugu-2lines {
        p {
          margin-top: 20px;
        }
      }
      .inaugu-3lines {
        p {
          margin-top: 7px;
        }
      }
    }

    .inauguration-close {
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 2em;
      color: #ff4444;
    }
  }

  .inauguration-bar {
    background: #ff4444;
    text-align: center;
    padding: 15px 0;

    p {
      color: #fff;
      font-size: 1.28em;
      margin: 0;
    }
    .btn {
      color: #ff4444;
      background-color: #fff;
      border-radius: 0;
      margin-left: 10px;
      border: 0;

      &:hover,
      &:active {
        border: 0;
        background-color: rgba(255,255,255,0.8)
      }
    }
  }
}
.inauguration {
  .usabit_inauguration {
    .inauguration-content {
      display: block;
    }
  }
  .row-banner {
    margin-top: 441px;

    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 620px
    }
  }
}

// HEADER
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: none;
  border: 0;
  height: auto;
  overflow: hidden;

  .navbar-brand{
    height: 42px;
    padding: 0;
    margin: 15px 0 10px 15px !important;
  }

  .navbar-toggle {
    margin: 20px 15px 15px 0;
    border: 0;
    background: #fff !important;
  }


  .nav {
    margin-left: 20px;
    margin-top: 15px;

    li {
      font-size: 1.28em;

      a {
        color: #fff;
        @include transition-property(all);
        @include transition-duration(300ms);
        @include transition-timing-function(ease-in-out);

        &:focus {
          color: #fff;
        }

        &:hover,
        &:active {
          color: #FF4E4E;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .navbar-collapse {
      background: rgba(255,255,255,0.9);
      min-height: 235px;
    }
    .nav {
      margin: 0;
      li {
        a {
          color: #666;
          padding: 20px 0;
          border-top: 1px solid rgba(0,0,0,0.1);
          
          &:focus {
            color: #666;
          }
        }


        &:first-child {
          a {
            border-top: 0;
          }
        }
      }
    }
  }
}

// FOOTER
.footer {
  .row-links {
    padding: 50px 0;

    @media (max-width: 767px) {
      padding:25px 0;
      
      .col-logo {
        margin: 0 0 20px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        a {
          color: #222;
          padding: 5px 0;
          display: inline-block;
        }

        &.first-link {
          font-weight: 700;
          font-size: 1.28em;
        }
      }
    }
  }
  &.footer-rights {
    background: #212c30;
    color: #767a7c;
    font-size: 0.85em;
    padding-top: 20px;
    padding-bottom: 60px;

    @media (max-width: 767px) {
      padding-bottom: 20px;
    }

    p {
      margin: 0;
    }
  }
}
.col-social-list {
  
  h6 {
    color: #fff;
    font-size: 1.28em;
    margin-top: 0;
    
    @media (max-width: 767px) {
      margin-top:15px;
    }
  }
  ul {
    list-style-type:none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0 8px 0 0;

      a {
        border-radius: 13px;
        width: 26px;
        height: 26px;
        display: block;
        font-size: 1em;
        text-align: center;
        box-sizing: border-box;
        color: #fff;
        line-height: 26px;

        &.social-fb {
          background: #346ca6;
        }
        &.social-tw {
          background: #4085cd;
        }
        &.social-lk {
          background: #346ca6;
        }
        &.social-bh {
          background: #3497db;
        }
        &.social-it {
          background: #ce6e2c;
        }
      }
    }
  }
}


// Home
.row-banner {
  position: relative;
  z-index: 1;
  min-height: 402px;
  margin-top: 62px;
  background-size: cover;
  background-repeat: no-repeat;
  @include transition-property(all);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-in-out);

  @media (max-width: 767px) {
    margin-top: 0;
  }

  h1 {
    font-size: 3em;
    color: #fff;
    @include text-shadow(rgba(#000000, 0.8) 1px 1px 0);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 170px;
    
    @media (max-width: 767px) {
      font-size: 1.8em;
      width: 100%;
      margin-top: 130px;
      line-height: 130%;
      @include text-shadow(rgba(#000000, 1) 1px 1px 2px);
    }
    @media (max-width: 329px) {
      font-size: 1.5em;
    }

  }


  &.row-banner-home {
    background-image: url(../images/banner-home.jpg);
    background-position: 50% 40%;
    margin-bottom: -234px;
    height: 636px;

    @media (max-width: 767px) {
      height: 536px;
    }
  }
  &.row-banner-team {
    background-image: url(../images/banner-team.jpg);
    background-position: 50% 71%;

    @media (max-width: 767px) {
      min-height: 300px;
    }
  }
  &.row-banner-cases {
    background-image: url(../images/banner-cases.jpg);
    background-position: 50% 50%;

    @media (max-width: 767px) {
      min-height: 300px;
    }
  }
  &.row-banner-contato {
    background-image: url(../images/banner-contato.jpg);
    background-position: 50% 50%;

    @media (max-width: 767px) {
      min-height: 300px;
    }
  }
}
.row-needs {
  position: relative;
  z-index: 5;
  background-color: rgba(#000000, 0.4);
  height: 234px;

  .row {
    text-align: center;

    .ui-select-container {
      display: inline-block;
      margin: 0 10px;
      vertical-align: middle;
      text-align: left;

      @media (max-width: 767px) {
        display: block;
        width: 90% !important;
        box-sizing: border-box;
        margin: 0 5%;
      }

      .selectize-input {
        background: none;
        border: 2px solid #c9c9c9;
        box-shadow: 0 0 0 0;
        padding: 12px 8px;

        .ui-select-match {
          color: #fff;
          font-size: 1.50em;
        }

        &:after {
          border-color: #fff transparent transparent transparent
        }
      }

      .selectize-dropdown [data-selectable] {
        padding: 10px 8px;
        font-size: 1.3em;
      }
    }
  }

  h2 {
    font-size: 1.85em;
    color: #fff;
    margin: 32px 0;
    text-align: left;

    @media (max-width: 767px) {
      text-align: center;
      font-size: 1.4em;
      margin: 22px 0;
    }
  }

  select {
    font-size: 1.50em;
    color: #fff;
    border: 2px solid #c9c9c9;
    background: none; 
    height: 51px;
    vertical-align: middle;
    margin: 0 10px;
  }

  .btn {
    font-size: 1.7em;
    color: #fff;
    background-color: #ff4e4e;
    border-radius: 0;
    border-color: #ff4e4e;
    margin: -5px 0 0 10px;

    @media (max-width: 767px) {
      margin: 0 0 10px;
    }
  }
}
.row-advantages {
  text-align: center;

  h2 {
    font-size: 2em;
    color: #6f6f6f;
    margin: 50px auto 35px;
    position: relative;
  }

  dl {
    margin:30px 0;
    overflow: hidden;
    background: url(../images/vantagens.png) no-repeat center center;

    dt {
      color: #9c9c9c;
      font-size: 1.57em;
      width: 45%;
      text-align: right;
      padding: 10px 0;
    }
    dd {
      color: #cacaca;
      font-size: 1.57em;
      width: 45%;
      text-align: left;
      margin-left: 0;
      float: right;
      padding: 10px 0;
    }

    @media (max-width: 767px) {
      background-position: center left;
      padding-left: 70px;

      dt,
      dd {
        display:block;
        float: none;
        width: 100%;
        font-size: 1.2em;
        text-align: left;
      }
      dt {
        padding-bottom: 0;
      }
      dd {
        padding-top: 0;
      }
    }
  }
}
.row-ideas,
.row-cafe {
  background: #ff4e4e;
  margin: 0;

  h3 {
    color: #fff;
    font-size: 1.8em;
    text-align: right;
    margin: 25px 0;

    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 0;
    }
    @media (max-width: 329px) {
      font-size: 1.3em;
    }
  }
  ul {
    list-style-type:none;
    margin: 35px 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 0 0 35px;

      @media (max-width: 767px) {
        &:first-child {
          margin-left: 0;
        }
      }

      @media (max-width: 329px) {
        margin: 0 0 0 15px;
      }

      a {
        border-radius: 30px;
        width: 60px;
        height: 60px;
        display: block;
        font-size: 3em;
        text-align: center;
        box-sizing: border-box;

        &.row-ideas-mobile {
          background-color: #fff;
          color: #ff4e4e;
        }
        &.row-ideas-whatsapp {
          background-color: #56ba62;
          color: #fff;
        }
        &.row-ideas-skype {
          background-color: #3497db;
          color: #fff;
        }
        &.row-ideas-phone {
          background-color: #7a519d;
          color: #fff;
        }
        &.row-ideas-envelope {
          background-color: #3497db;
          color: #fff;
          //font-size: 2em;
          //padding-top: 7px;
          //
          .fa {
            font-size: 0.8em;
            vertical-align: middle;
            margin-top: -10px;
          }
        }
      }
    }
  }
}

.row-cafe {
  background: url(../images/bg-cafe.jpg) no-repeat center top;
  background-size: cover;

  h3 {
    margin: 52px 0;
  }

  ul {
    margin: 50px 0;
  }

  @media (max-width: 767px) {
    h3 {
      margin: 25px 0 0;
    }
    ul {
      margin: 35px 0;
    }
  }
}

// Team
.row-about {
  padding-top: 60px;
  margin-bottom: 60px;
  height: 240px;
  overflow: hidden;
  position: relative;
  @include transition-property(all);
  @include transition-duration(2s);
  @include transition-timing-function(ease-in-out);

  &.row-about-expanded {
    height: auto;
  }

  p {
    font-size: 1.28em;
    line-height: 165%;
  }


  /*&:before {
    content: "";
    background: red;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    position: absolute;
  }*/
  .about-all {
    color: #ff4e4e;
    display: block;
    padding: 34px 15px 0;
    background: url(../images/bg-about-all.png) repeat-x bottom center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.row-team {
  margin-bottom: 40px;

  .team-card {
    text-align: center;

    .img-wrapper {
      overflow: hidden;
      position: relative;

      .team-midias-list {
        opacity: 0;
        //display: none;
        border-radius: 50%;
        margin:0;
        padding:0;
        position: absolute;
        list-style-type: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        @include transition-property(all);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-in);

        li {
          display: inline-block;
          font-size: 2em;
          margin-top: 52px;

          a {
            color: #fff;
            display: inline-block;
            padding: 5px;
          }
        }
      }
    }

    .hvr-float-shadow:hover {
      .img-wrapper {
        .team-midias-list {
          opacity: 1;
          //display: block;
        }
      }
    }

    h2 {
      font-size: 1.28em;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    p {
      font-size: 1.28em;
      margin-bottom: 0;
    }
  }
}

// Cases
.row-cases {
  margin: 40px 0;

  h5 {
    font-size: 1.3em;
  }  
  img {
    margin: 10px 0;
    width: 100%;
  }
  .tags {
    span:first-child {
      .virgula {
        display: none;
      }
    }
  }
}

// Contato
.row-contact-list {
  padding-top: 60px;
  padding-bottom: 60px;
  > div {
    text-align: center;
    font-size: 1.28em;
    color: #1b1b1b;

    h2 {
      font-size: 1.28em;
    }
    a {
      color: #1b1b1b;
    }
  }
}
.row-form {
  margin-top: 50px;

  textarea {
    max-width: 100%;
  }
}