$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "compass/css3";
//@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";
@import "http://fonts.googleapis.com/css?family=Raleway:400,300,700";

// ================================================================================================
// GENERAL
// ================================================================================================
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Raleway', sans-serif;  
}

.container-fluid {
  max-width: 1310px;
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include transition-property(transform);
  @include transition-duration(0.3s);
}
.hvr-float-shadow:hover, 
.hvr-float-shadow:focus, 
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
[class^="hvr-"] {
  /* display: inline-block; */
  /* vertical-align: middle; */
  margin: .4em;
  padding: 1em;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  @include transition-property(all);
  @include transition-duration(0.3s);
}
.hvr-float-shadow:hover:before, 
.hvr-float-shadow:focus:before, 
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.alert {
  border-radius: 0;
  padding: 10px 15px;
}


.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

  @media (min-width: 768px) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    top: 28px;
    left: 18px;
    right: 18px;
    height: 4px;
    background: white;

    &:before,
    &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #fff;
      content: "";
    }

    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }

  &.c-hamburger--htx {
    background-color: #ff3264;

    span {
      transition: background 0s 0.3s;

      &:before,
      &:after {
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
      }

      &:before {
        transition-property: top, transform;
      }
      &:after {
        transition-property: bottom, transform;
      }
    }

    &.is-active {
      background-color: #cb0032;

      span {
        background: none;

        &:before,
        &:after {
          transition-delay: 0s, 0.3s;
        }

        &:before {
          top: 0;
          transform: rotate(45deg);
        }
        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}


// ================================================================================================
// LAYOUT
// ================================================================================================

// INAUGURATION
// ==============================================================================
.usabit_inauguration {
  background: #fff;

  .inauguration-content {
    display: none;
    @include transition-property(all);
    @include transition-duration(300ms);
    @include transition-timing-function(ease-in-out);

    .container-fluid {
      position: relative;
      background: url(../images/bg-inauguration.jpg) no-repeat bottom right;
    }

    h2 {
      font-size: 2.5em;
      color: #ff4444;
      font-weight: 400;
      margin: 35px 0 20px;

      @media (max-width: 767px) {
        font-size: 1.6em;
      }
    }
    p {
      color: #313131;
      font-weight: 300;
      font-size: 1.14em;

      @media (max-width: 767px) {
        font-size: 1em;
      }
    }
    .btn {
      color: #fff;
      background: #828282;
      margin: 15px 0;
      border-radius: 0;

      &:hover,
      &:active {
        background-color: rgba(#828282, 0.8);
      }
    }
    h3 {
      font-size: 1.14em;
      color: #ff4444;
      font-weight: 400;
      margin: 30px 0;

      @media (max-width: 767px) {
        margin: 30px 0 15px;
      }
    }
    .inauguration-services {
      color: #313131;
      font-size: 1em;
      margin-top: 18px;

      @media (max-width: 767px) {
        margin-top: -15px;
        margin-bottom: 15px;
      }

      img {
        margin-right: 15px;
      }
      p {
        color: #313131;
        font-size: 1em;
      }

      .inaugu-1line {
        p {
          margin-top: 28px;
        }
      }
      .inaugu-2lines {
        p {
          margin-top: 20px;
        }
      }
      .inaugu-3lines {
        p {
          margin-top: 7px;
        }
      }
    }

    .inauguration-close {
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 2em;
      color: #ff4444;
    }
  }

  .inauguration-bar {
    background: #ff4444;
    text-align: center;
    padding: 15px 0;

    p {
      color: #fff;
      font-size: 1.28em;
      margin: 0;
    }
    .btn {
      color: #ff4444;
      background-color: #fff;
      border-radius: 0;
      margin-left: 10px;
      border: 0;

      &:hover,
      &:active {
        border: 0;
        background-color: rgba(255,255,255,0.8)
      }
    }
  }
}
.inauguration {
  .usabit_inauguration {
    .inauguration-content {
      display: block;
    }
  }
  .row-banner {
    margin-top: 441px;

    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 620px
    }
  }
}

// HEADER
// ==============================================================================
.header {
  z-index: 10;
  background: none;
  border: 0;
  height: auto;
  margin-bottom: 0;
  border-radius: 0;

  .top-header {
    background: #2d4453;

    .btn {
      color: #fff;
      font-size: 0.9em;
      padding: 6px 0;

      .fa {
        margin-right: 3px;
        color: #6cf3a8;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        color: darken(#ffffff, 5%);
      }
    }

    .btn-language {
      margin-left: 15px;
      color: rgba(255, 255, 255, 0.5);

      &:hover,
      &:focus {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .navbar-brand{
    height: 50px;
    padding: 0;
    margin: 20px 0 20px 0 !important;

    @media (max-width: 767px) {
      margin: 20px 0 20px 15px !important;
    }

    img {
      max-height: 50px;
    }
  }

  .c-hamburger {
    margin: 15px 15px 15px 0;
    border: 0;
    background: none !important;
    z-index: 6000;
    float: right;

    span {
      background: #999;

      &:before,
      &:after { 
        background: #999;
      }
    }
  }


  .nav {
    margin-left: 20px;
    margin-top: 20px;

    li {
      font-size: 0.85em;

      a {
        color: #616161;
        text-transform: uppercase;
        @include transition-property(all);
        @include transition-duration(300ms);
        @include transition-timing-function(ease-in-out);

        &:focus {
          color: darken(#616161, 5%);
        }

        &:hover,
        &:active {
          color: #1a8ad1;
        }
      }

      &.active {
        a {
          background: none;
          color: #1a8ad1;

          &:hover {
            background: none;
            color: #1a8ad1;
          }
        }
      }
    }
    @media (max-width: 767px) {
      &.navbar-main-menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -150px;
      }
    }
  }

  .nav-social-list {
    margin-top: 30px;

    ul {
      list-style-type:none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin: 0 0 0 8px;

        a {
          border-radius: 13px;
          width: 26px;
          height: 26px;
          display: block;
          font-size: 1em;
          text-align: center;
          box-sizing: border-box;
          color: #fff;
          line-height: 26px;
          padding: 0;

          &.social-fb {
            background: #346ca6;

            &:hover {
              background: darken(#346ca6, 10%);
            }
          }
          &.social-tw {
            background: #4085cd;

            &:hover {
              background: darken(#4085cd, 10%);
            }
          }
          &.social-lk {
            background: #346ca6;

            &:hover {
              background: darken(#346ca6, 10%);
            }
          }
          &.social-bh {
            background: #3497db;

            &:hover {
              background: darken(#3497db, 10%);
            }
          }
          &.social-it {
            background: #ce6e2c;

            &:hover {
              background: darken(#ce6e2c, 10%);
            }
          }

          &:hover {
            color: #fff;
          }
        }
      }

      @media (max-width: 767px) {
        //margin-top: 58px;
        overflow: hidden;
        text-align: center;
        bottom: 30px;
        left: 50%;
        margin-left: -112px;
        position: absolute;

        li {
          float: none;
          display: inline-block;
          margin: 0 3px;

          a {
            width: 36px;
            height: 36px;
            border-radius: 18px;
            font-size: 2em;
            line-height: 36px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    position: initial;

    .navbar-collapse {
      background: rgba(255,255,255,0.95);
      //min-height: 235px;
      position: absolute;
      z-index: 5000;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      opacity: 0;
      @include transition-property(all);
      @include transition-duration(300ms);
      @include transition-timing-function(ease-in-out);

      &.in {
        opacity: 1;
      }
    }
    .nav {
      margin: 0;
      li {
        a {
          color: #666;
          padding: 20px 0;
          border-top: 1px solid rgba(0,0,0,0.1);
          text-align: center;
          font-size: 3em;
          line-height: 100%;
          
          &:focus {
            color: #666;
          }
        }


        &:first-child {
          a {
            border-top: 0;
          }
        }
      }
    }
  }
}

// FOOTER
// ==============================================================================
.footer {
  .row-links {
    padding: 50px 0;

    @media (max-width: 767px) {
      padding:25px 0;
      
      .col-logo {
        margin: 0 0 20px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        a {
          color: #222;
          padding: 5px 0;
          display: inline-block;
          @include transition-property(all);
          @include transition-duration(300ms);
          @include transition-timing-function(ease-in-out);
        }

        &.first-link {
          font-weight: 700;
          font-size: 1.28em;
        }
      }
    }
  }
  &.footer-rights {
    background: #212c30;
    color: #767a7c;
    font-size: 0.85em;
    padding-top: 20px;
    padding-bottom: 60px;

    @media (max-width: 767px) {
      padding-bottom: 20px;
    }

    p {
      margin: 0;
    }
    address {
      color: #a8a8a8;
    }
    
  }

}
.col-social-list {
  
  h6 {
    color: #fff;
    font-size: 1.28em;
    margin-top: 0;
    
    @media (max-width: 767px) {
      margin-top:15px;
    }
  }
  ul {
    list-style-type:none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0 8px 0 0;

      a {
        border-radius: 13px;
        width: 26px;
        height: 26px;
        display: block;
        font-size: 1em;
        text-align: center;
        box-sizing: border-box;
        color: #fff;
        line-height: 26px;
        @include transition-property(all);
        @include transition-duration(300ms);
        @include transition-timing-function(ease-in-out);


        &.social-fb {
          background: #346ca6;

          &:hover {
            background: darken(#346ca6, 10%);
          }
        }
        &.social-tw {
          background: #4085cd;

          &:hover {
            background: darken(#4085cd, 10%);
          }
        }
        &.social-lk {
          background: #346ca6;

          &:hover {
            background: darken(#346ca6, 10%);
          }
        }
        &.social-bh {
          background: #3497db;

          &:hover {
            background: darken(#3497db, 10%);
          }
        }
        &.social-it {
          background: #ce6e2c;

          &:hover {
            background: darken(#ce6e2c, 10%);
          }
        }
      }
    }
  }
}


// Home
// ==============================================================================
.row-banner {
  position: relative;
  z-index: 1;
  min-height: 402px;
  margin-top: 0;
  background-color: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
  @include transition-property(all);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-in-out);

  @media (max-width: 767px) {
    margin-top: 0;
  }

  h1 {
    font-size: 3em;
    color: #fff;
    @include text-shadow(rgba(#000000, 0.8) 1px 1px 0);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 170px;
    
    @media (max-width: 767px) {
      font-size: 1.8em;
      width: 100%;
      margin-top: 130px;
      line-height: 130%;
      @include text-shadow(rgba(#000000, 1) 1px 1px 2px);
    }
    @media (max-width: 329px) {
      font-size: 1.5em;
    }

  }


  &.row-banner-home {
    background-image: url(../images/banner-home.jpg);
    background-position: 50% 40%;
    margin-bottom: -234px;
    height: 636px;

    @media (max-width: 767px) {
      height: 536px;
    }
  }
  &.row-banner-team {
    background-image: url(../images/banner-team.jpg);
    background-position: 50% 71%;

    @media (max-width: 767px) {
      min-height: 300px;
    }
  }
  &.row-banner-our-way {
    background-image: url(../images/banner-our-way.jpg);
    //background-color: #000;
    background-position: 50% 71%;

    @media (max-width: 767px) {
      min-height: 300px;
    }
  }
  &.row-banner-cases {
    background-image: url(../images/banner-cases.jpg);
    background-position: 50% 50%;

    @media (max-width: 767px) {
      min-height: 300px;
    }
  }
  &.row-banner-contato {
    background-image: url(../images/banner-contato.jpg);
    background-position: 50% 50%;

    @media (max-width: 767px) {
      min-height: 300px;
    }
  }
  &.row-banner-post {
    min-height: 73px;
    background-image: url(../images/banner-post.jpg);
    background-position: 50% 10%;
    margin-top: 0;
  }
}
.home-carousel {
  margin: 0;
  position: relative;
  z-index: 1;
  
  .owl-carousel {
      width: 100%;
      margin: 0 auto;
  }

  @media (max-width: 767px) {
    .col-xs-12 {
      height: 520px;
    }
  }
  @media (max-width: 650px) {
    .col-xs-12 {
      height: 420px;
    }
  }

  .owl-carousel-item {
      width: 100%;
      height: 520px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;

      @media (max-width: 650px) {
        height: 420px;
      }

      h1 {
        font-size: 2.14em;
        line-height: 120%;
        color: #fff;
        margin: 0 0 20px;
        font-weight: 300;

        @media (max-width: 767px) {
          font-size: 1.7em;
        }
      }
      p {
        font-size: 1.24em;
        line-height: 140%;
        color: #fff;
        margin: 0 0 15px;
        height: 100px;
        font-weight: 300;

        & + p {
          height: auto;

          @media (max-width: 767px) {
            font-size: 1.5em;
          }
        }
      }
      a {
        color: #fff;
        @include transition-property(all);
        @include transition-duration(300ms);
        @include transition-timing-function(ease-in-out);


        &:hover {
          text-decoration: none;
        }

        .fa {
          color: rgba(255,255,255,0.6);
          font-size: 3em;
          vertical-align: middle;
          margin-left: 5px;
          @include transition-property(all);
          @include transition-duration(300ms);
          @include transition-timing-function(ease-in-out);

          @media (max-width: 767px) {
            font-size: 1.5em;
          }
        }
      }

      .well {
        border-radius: 0;
        border: 0;
        box-shadow: 0 0 0;
        margin: 140px 0 0;
        max-width: 515px;

        @media (max-width: 767px) {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          max-width: 100%;
        }
      }

      &.carousel-01 {
        background: url(../images/banner-home.jpg) no-repeat;
        background-size: cover;

        @media (max-width: 767px) {
          background-size: auto 75%;
          background-position: center top;
        }
        @media (max-width: 400px) {
          background-size: auto 60%;
          background-position: center top;
        }

        .well {
          background-color: #1a8ad1;

          a:hover {
            color: darken(#1a8ad1, 30%);

            .fa {
              color: darken(#1a8ad1, 30%);
            }
          }
        }
      }
      &.carousel-02 {
        background: url(../images/banner-spidy.jpg) no-repeat;
        background-size: cover;

        @media (max-width: 767px) {
          background-size: auto 77%;
          background-position: 30% 0;
        }
        @media (max-width: 400px) {
          background-size: auto 60%;
          background-position: 88% 0;
        }

        .well {
          background-color: #d19b1a;

          a:hover {
            color: darken(#d19b1a, 20%);

            .fa {
              color: darken(#d19b1a, 20%);
            }
          }
        }
      }
  }

  .customNavigation {
    position: relative;
    height: 0;
    font-size: 10px;

    .btn {
      position: absolute;
      font-size: 2em;
      color: #fff;
      width: 28px;
      height: 60px;
      padding: 0;
      overflow: hidden;

      span {
        background: rgba(255, 255, 255, 0.5);
        width: 56px;
        height: 56px;
        border-radius: 28px;
        display: block;
        text-align: left;

        .fa {
          margin: 20px 0 0 8px;
        }
      }

      &.owlcarousel_prev {
        top: -210px;
        right: 0;

        &:hover {
          span {
            background: rgba(255, 255, 255, 0.2);
          }
        }
      }
      &.owlcarousel_next {
        top: -270px;
        right: 0;

        &:hover {
          span {
            background: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }
  }
}
.row-needs {
  .row {
    text-align: center;

    .ui-select-container {
      display: inline-block;
      margin: 0 10px;
      vertical-align: middle;
      text-align: left;

      @media (max-width: 767px) {
        display: block;
        width: 100% !important;
        box-sizing: border-box;
        margin: 0 0 10px;
      }

      .selectize-input {
        background: #d9d9d9;
        border: 2px solid #c9c9c9;
        box-shadow: 0 0 0 0;
        padding: 12px 8px;

        .ui-select-match {
          color: #000;
          font-size: 1.50em;
        }

        &:after {
          border-color: #a2a2a2 transparent transparent transparent
        }
      }

      .selectize-dropdown [data-selectable] {
        padding: 10px 8px;
        font-size: 1.3em;
      }
    }
  }

  h2 {
    font-size: 1.85em;
    color: #1a8ad1;
    margin: 32px 0;
    text-align: left;
    font-weight: 300;

    @media (max-width: 767px) {
      text-align: center;
      font-size: 1.4em;
      margin: 22px 0;
    }
  }

  select {
    font-size: 1.50em;
    color: #000;
    border: 2px solid #c9c9c9;
    background: #d9d9d9; 
    height: 51px;
    vertical-align: middle;
    margin: 0 10px;

    @media (max-width: 767px) {
      box-sizing: border-box;
      display: block;
      margin: 0 0 10px;
      width: 100%;
    }
  }

  .btn {
    font-size: 1.7em;
    color: #fff;
    background-color: #1a8ad1;
    border: 0;
    padding-left: 100px;
    padding-right: 100px;
    margin: -5px 0 0 10px;
    box-shadow: darken(#1a8ad1, 20%) -3px 4px 0;
    border-radius: 25px;
    outline: none;

    &:hover,
    &:focus {
      background: darken(#1a8ad1, 5%);
    }

    @media (max-width: 767px) {
      margin: 0 0 10px;
    }
  }
}
.row-common-cases {
  padding: 30px 0;
  margin: 30px 0 0;

  h2 {
    color: #ed422c;
    font-size: 2.28em;
    font-weight: 300;
    text-align: center;
    margin: 0 0 20px;
  }
}
.row-goals {
  border-top: 1px solid #d5dadd;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-top: 40px;
  text-align: center;

  @media (max-width: 767px) {
    .col-xs-12{
      &:last-child {
        img {
          margin-top: 40px;
        }
      }
    }
  }

  h2 {
    color: #505050;
    font-size: 2em;
    margin: 60px 0;
  }
  img {
    margin-bottom: 30px;
  }
  p {
    color: #505050;
    font-size: 1.6em;
  }
}
.row-advantages {
  h2 {
    //font-size: 1.85em;
    //color: #ff4444;
    //margin: 50px auto 45px;
    //position: relative;
    //font-weight: 300;

    color: #505050;
    font-size: 2em;
    margin: 60px 0;
    text-align: center;
  }

  $colors-list: #3ae05d darken(#3ae05d, 5%) darken(#3ae05d, 10%) darken(#3ae05d, 15%) darken(#3ae05d, 20%) darken(#3ae05d, 25%);

  ul {
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 50px;

    @media (max-width: 767px) {
      padding: 0;
    }
    
    li {
      border: 1px solid #898989;
      color: #595959;
      font-size: 1.54em;
      padding: 20px 10px;
      width: 70%;
      margin-top: -1px;
      box-sizing: border-box;
      position: relative;


      @media (max-width: 991px) {
        font-size: 1.2em;
        width: 80%;
      }
      @media (max-width: 767px) {
        font-size: 1em;
        width: 80%;
      }

      .like {
        width: 25%;
        right: -35%;
        display: block;
        background: #3ae05d;
        padding: 10px 10px;
        box-sizing: border-box;
        text-align: center;
        font-size: 1.6em;
        color: #fff;
        border: 1px solid #fff;
        position: absolute;
        top: 0;
        bottom: 0;

        @media (max-width: 991px) {
          width: 20%;
          right: -25%;
        }
        @media (max-width: 767px) {
          width: 20%;
          right: -25%;
        }

        @each $current-color in $colors-list {
            $i: index($colors-list, $current-color);
            &.like-#{$i} { 
                background: $current-color;
            }
        }
      }



      &:first-child {
        .like {
          &:before {
            position: absolute;
            content: "";
            background: url(../images/marca-usabit-red.png) no-repeat;
            width: 92px;
            height: 28px;
            top: -48px;
            left: 50%;
            margin-left: -46px;

            @media (max-width: 767px) {
              left: initial;
              margin-left: 0;
              right: 0;
            }
          }
        }
      }
    }
  }

  dl {
    margin:30px 0;
    overflow: hidden;
    background: url(../images/vantagens.png) no-repeat center center;

    dt {
      color: #9c9c9c;
      font-size: 1.57em;
      font-weight: 300;
      width: 45%;
      text-align: right;
      padding: 10px 0;
    }
    dd {
      color: #cacaca;
      font-size: 1.57em;
      font-weight: 300;
      width: 45%;
      text-align: left;
      margin-left: 0;
      float: right;
      padding: 10px 0;
    }

    @media (max-width: 767px) {
      background-position: center left;
      padding-left: 70px;

      dt,
      dd {
        display:block;
        float: none;
        width: 100%;
        font-size: 1.2em;
        text-align: left;
      }
      dt {
        padding-bottom: 0;
      }
      dd {
        padding-top: 0;
      }
    }
  }
}
.row-ideas,
.row-cafe {
  background: #ff4e4e;
  margin: 0;

  h3 {
    color: #fff;
    font-size: 1.8em;
    text-align: right;
    line-height: 130px;
    margin: 0;

    @media (max-width: 767px) {
      text-align: center;
      line-height: 30px;
      margin-top: 30px;
    }
    @media (max-width: 329px) {
      font-size: 1.3em;
    }
  }
  ul {
    list-style-type:none;
    margin: 35px 0;
    padding: 0;
    text-align: left;

    @media (max-width: 767px) {
      text-align: center;
    }

    li {
      display: inline-block;
      margin: 0 0 0 35px;

      @media (max-width: 767px) {
        &:first-child {
          margin-left: 0;
        }
      }

      @media (max-width: 380px) {
        margin: 0 0 0 5px;
      }

      a {
        border-radius: 30px;
        width: 60px;
        height: 60px;
        display: block;
        font-size: 3em;
        text-align: center;
        box-sizing: border-box;

        &.row-ideas-mobile {
          background-color: #fff;
          color: #ff4e4e;
        }
        &.row-ideas-whatsapp {
          background-color: #56ba62;
          color: #fff;
        }
        &.row-ideas-skype {
          background-color: #3497db;
          color: #fff;
        }
        &.row-ideas-phone {
          background-color: #7a519d;
          color: #fff;
        }
        &.row-ideas-envelope {
          background-color: #3497db;
          color: #fff;
          //font-size: 2em;
          //padding-top: 7px;
          //
          .fa {
            font-size: 0.8em;
            vertical-align: middle;
            margin-top: -10px;
          }
        }
      }
    }
  }
}

.row-cafe {
  background: url(../images/bg-cafe.jpg) no-repeat center top;
  background-size: cover;

  h3 {
    line-height: 130%;
    margin: 30px 0 0;
  }

  @media (max-width: 767px) {
    h3 {
      margin: 25px 0 0;
    }
    ul {
      margin: 35px 0;
    }
  }
}

// Team
// ==============================================================================
.row-about {
  padding-top: 60px;
  margin-bottom: 60px;
  height: 240px;
  overflow: hidden;
  position: relative;
  @include transition-property(all);
  @include transition-duration(2s);
  @include transition-timing-function(ease-in-out);

  &.row-about-expanded {
    height: auto;
  }

  p {
    font-size: 1.28em;
    line-height: 165%;
  }


  /*&:before {
    content: "";
    background: red;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    position: absolute;
  }*/
  .about-all {
    color: #ff4e4e;
    display: block;
    padding: 34px 15px 0;
    background: url(../images/bg-about-all.png) repeat-x bottom center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.row-team {
  margin-bottom: 40px;

  .team-card {
    text-align: center;

    .img-wrapper {
      overflow: hidden;
      position: relative;

      .team-midias-list {
        opacity: 0;
        //display: none;
        border-radius: 50%;
        margin:0;
        padding:0;
        position: absolute;
        list-style-type: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        @include transition-property(all);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-in);

        li {
          display: inline-block;
          font-size: 2em;
          margin-top: 52px;

          a {
            color: #fff;
            display: inline-block;
            padding: 5px;
          }
        }
      }
    }

    .hvr-float-shadow:hover {
      .img-wrapper {
        .team-midias-list {
          opacity: 1;
          //display: block;
        }
      }
    }

    h2 {
      font-size: 1.28em;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    p {
      font-size: 1.28em;
      margin-bottom: 0;
    }
  }
}

// Nosso Jeito
// ==============================================================================
.row-process,
.row-skills {
  h2 {
    text-align: center;
    color: #484848;
    font-size: 1.4em;
    margin: 50px 0;
    font-weight: bold;
  }
}

.row-process {
  text-align: center;
  padding-bottom: 30px;

  p {
    font-size: 1.14em;
    color: #484848;
    line-height: 180%;
  }
}

.row-skills {
  padding-bottom: 30px;

  .well {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: #2d4453;
    padding: 10px;
    margin: 0 auto 30px;

    h3 {
      color: #fff;
      margin: 160px 0 0;
      font-weight: 300;
    }
  }
}

// Cases
// ==============================================================================
.row-cases {
  margin: 40px 0;

  h2 {
    color: #000;
    font-size: 1.57em;
    font-weight: 400;
    margin: 0 0 20px;
  }

  h5 {
    font-size: 1.3em;
  }  
  .tags {
    span:first-child {
      .virgula {
        display: none;
      }
    }
  }

}
.row-case-list {
  background-color: #f5f4f5;

  .panel {
    border-radius: 0;
    border: 0;

    .panel-body {
      padding: 0;
      
      img {
        width: 100%;
        margin: 0 0 10px;
        @include transition-property(all);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-in);
      }
      h5,
      h6,
      .tags {
        margin-left: 15px;
        margin-right: 15px;
      }

      h5 {
        color: #2b2b2b;
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: 400;
      }
      h6 {
        font-size: 1em;
        font-weight: 300;
        color: #2b2b2b;
      }
      .tags {
        color: dimgray;
        font-size: 0.8em;
      }
      .project-stats {
        padding: 7px 15px 8px;
        background-color: #f6f6f6;
        border-top: 1px solid #e7e7e7;
        box-shadow: 0 1px 0 0 #fff inset;
        line-height: 14px;
        color: #555;
        font-weight: 700;

        .project-stat {
          margin-right: 10px;
          display: inline-block;
          font-size: 0.8em;

          .fa {
            margin-right: 4px;
          }
        }
      }

      a:hover {
        color: #999;

        img {
          opacity: 0.7;
        }
      }
    }

  }
}

// Contato
// ==============================================================================
.row-contact-list {
  padding-top: 60px;
  padding-bottom: 60px;
  > div {
    text-align: center;
    font-size: 1.28em;
    color: #1b1b1b;

    h2 {
      font-size: 1.28em;
    }
    a {
      color: #1b1b1b;
    }
  }
}
.row-form {
  margin-top: 50px;

  textarea {
    max-width: 100%;
  }
}


// Post
// ==============================================================================
.view-content-post {
  .post-content {
    h2,
    h1 {
      color: #232323;
      font-size: 3em;
      font-weight: 300;
      margin: 45px 0 30px;
    }
    h1 + p {
      margin-top: -25px;
      font-size: 1em;
    }
    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }
    p {
      color: #232323;
      font-size: 1.14em;
      font-weight: 300;
      line-height: 180%;
      margin: 15px 0;
    }
    ol {
      list-style-position: inside;
      padding-left: 20px;

      li {
        color: #232323;
        font-size: 1.14em;
        font-weight: 300;
        line-height: 180%;
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .post {
      h2 {
        font-size: 1.85em;

        a {
          color: #232323;

          &:hover {
            color: #23527c;
            text-decoration: none;
          }
        }
      }
      .post-more {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .post-column {
    background-color: #ef4c32;

    @media (max-width: 767px) {
      margin-top: 20px;
    }

    form {
      margin: 0 15px 45px 35px;
      position: relative;

      &:before {
        content: "";
        width: 0; 
        height: 0; 
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 25px solid #fff;
        position: absolute;
        left: -50px;
        top: 0;
      }

      @media (max-width: 767px) {
        margin-left: 15px;

        &:before {
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          border-top: 25px solid #fff;
          top: -41px;
          left: -10px;
        }
      }

      .form-control {
        border-radius: 0;
        border: 0;
      }

      textarea {
        max-width: 100%;
      }

      input[type=submit] {
        display: block;
        text-align: center;
        width: 100%;
        border: 0;
        color: #fff;
        font-weight: 300;
        font-size: 1.14em;
        border-radius: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        @include background-image(linear-gradient(#aa311e, #8b2718));

        &:hover,
        &:active {
          @include background-image(linear-gradient(#8b2718, #5b1a10));
        }
      }
    }

    h4 {
      color: #fff;
      font-weight: 300;
      font-size: 1.42em;
      margin: 30px 0 20px;
      line-height: 150%;

      @media (max-width: 767px) {
        margin-top: 40px;
      }
    }
  }
}

// ================================================================================================
// OWL CAROUSEL
// ================================================================================================
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    clear: both;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    margin: -50px 30% 23px;

    @media (max-width: 767px) {
      margin: -50px 20% 23px;
    }
}


.owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  
  span{
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    opacity: 1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
  }

  &.active {
    span {
      background: none;
      border: 1px solid #fff;
    }
  }
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  opacity: 1;
  position: relative;
  z-index: 9;
}


/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}