extend ../../_layout

block vars
  - var language = 'en'
  - var bodyClass = 'light'
  - var footerClass = 'no-line'
  - var bannerClass = 'partners'
  - var title = 'Meet the Leaders | Usabit | App, Site, Software'
  - var subTitle = 'We wanna be part of your business.'

  - var pauloName = 'Paulo Rocha'
  - var pauloLinkedin = 'https://www.linkedin.com/in/paulo-rocha-7aa18a45'
  - var pauloPosition = 'PARTNER, TECHNOLOGY'
  - var pauloImage = '/assets/img/partners/paulo.jpg'
  - var pauloBrief = '<p>Usabit allows me to show two sides. Everyday, personal and professional sides are together to make a simple, honest and transparent company.</p><p>Beside applying what I learned and taught until today in software development I\'m here to build a team. I believe in doing things together, I like to boost and encourage the potential of people.</p><p>Here I can not only perform my plans, but truly contribute to our customers success. I focus on strategic decisions to ensure the functioning of the project and the satisfaction of all involved.</p>'

  - var rodrigoName = 'Rodrigo Lemos'
  - var rodrigoLinkedin = 'https://www.linkedin.com/in/rodrigo-lemos-235b9a23'
  - var rodrigoPosition = 'PARTNER, TECHNOLOGY'
  - var rodrigoImage = '/assets/img/partners/rodrigo.jpg'
  - var rodrigoBrief = '<p>Usabit is my way to put into practice what I believe without limits. It\'s develop technology, applying and evolving the knowledge day by day. It\'s making sure that everything that comes out of our team is aligned with the latest and most advantageous solutions for our customers.</p><p>In addition to working with digital, I take care of Usa money, not letting absolutely anything get out of hand.</p><p>In the past I was coordinator of front-end in a technology company and ScrumMaster. Today I use the experience gained in the last 10 years to ensure the quality of Usabit products.</p>'

  - var rafaelName = 'Rafael Tavares'
  - var rafaelLinkedin = 'https://www.linkedin.com/in/raftavares'
  - var rafaelPosition = 'PARTNER, DESIGN'
  - var rafaelImage = '/assets/img/partners/rafael.jpg'
  - var rafaelBrief = '<p>Usabit is the combination of many qualities. For me, it\'s an opportunity to work with two amazing talented guys and other incredible people as in love with this as I am.</p><p>Of all the values involved, what drives me is the opportunity to do the best. As a designer, each pixel is counted and has its own name. Our products are not unlike others. They are equal, but with user-centered design.</p><p>The background I bring is the contact with people who teach and give me new experiences every day.</p>'

block content
  include ../../_page-blocks/inner-banner

  include ../../_page-blocks/partner-content

  include ../../_page-blocks/index-contato

  
