global-reset()

* 
  box-sizing border-box

body
  font-family Titillium Web, sans serif
  font-size 14px
  font-weight 400
  background-color #252525
  color white
  
  &.light
    background-color #ddd
  
.global-wrap
  width 90%
  max-width 1600px
  margin 0 auto
  overflow hidden
  
  +below(1350px)
    width 90%
    
.change-lang
  // border 1px dashed white
  text-align right
  position absolute
  z-index 999
  top 5px
  right 5px
  font-size 10px
  a
    text-decoration none
    color #eee
    display flex
  
  img
    max-width 100%
    max-height 100%
  small
    margin-left 5px