// Titillium Web 200 (extra-light) | 300 (light) | 400 (normal) | 600 (semi bold) | 700 (bold) | 900 (ultra bold)
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900');

@import 'nib'
@import 'jeet'
@import 'rupture'
@import 'kouto-swiss'

@import "globals.styl";
@import "partials/banner.styl"
@import "partials/contato.styl"
@import "partials/usabit-news.styl"
@import "partials/footer.styl"